*{
    background-color: rgb(245, 245, 245);
    font-family: Poppins, sans-serif;
}

.container{
    background-color: white;
    width: 450px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.181);
    padding: 20px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 1px;
    position: relative;
    padding-bottom: 60px;
}

.container h1{
    text-align: center;
    background-color: white;
    font-size: 2rem ;
}
.container div{
    background-color: white;
    margin: 5px 0px;
}
label{
    font-weight: bold;
}
input{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 5px 10px;
    width: 390px;
}
button{
    padding: 10px;
    background-color: rgb(2, 230, 2);
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 20px;

}
button:hover{
    background-color: rgb(0, 243, 0);
    scale: 1.01;
    transition: 0.2s;
}
span{
    font-weight: 600;
    font-size: 1.3rem;
    background-color: white;
}
p{
    background-color: white;
    position: absolute;
    bottom: 15px;
    right: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
}